{% extends "index.html" %}
{% block title %}تسجيل الدخول{% endblock %}
{% block content %}
<h2>تسجيل الدخول</h2>
<form method="post">
    <label>اسم المستخدم:</label>
    <input type="text" name="username" required>
    <br>
    <label>كلمة المرور:</label>
    <input type="password" name="password" required>
    <br>
    <button type="submit">دخول</button>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</form>
{% endblock %}